{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": false }],
    "@babel/preset-react",
    "@babel/typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true
      }
    ],
    "emotion"
  ]
}
